:root {
  --dot-size: 100px;
  --key-size: 90px;
  --arrow-size: 50px;
  --gap: 5px;
  --rows: 6;
  --grid-size: calc( calc( var(--dot-size) * var(--rows) ) + calc( var(--gap) * calc(var(--rows)-1) ) );
}

* {
  touch-action: manipulation;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 30px;
  box-sizing: border-box;
}

.table {
  display: grid;
  grid-gap: var(--gap);
  width: var(--grid-size);
}

.row {
  display: grid;
  grid-template-columns: repeat(var(--rows), 1fr);
  grid-gap: var(--gap);
}

.cel {
  display: flex;
  width: 14vw;
  height: 14vw;
  max-width: var(--dot-size);
  max-height: var(--dot-size);
  min-width: calc(var(--dot-size)/3);
  min-height: calc(var(--dot-size)/3);
  border-radius: var(--dot-size);
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-family: monospace;
  background-color: #eee;
  transition: all 100ms ease;
}

.tableSolution {
  position: absolute;
  top: 30px;
  left: 30px;
  width: calc( var(--grid-size) / var(--rows) );
  grid-gap: calc(var(--gap)/4);
}

.tableSolution .row {
  grid-gap: calc(var(--gap)/4);
}

.tableSolution .cel {
  max-width: 25px;
  max-height: 25px;
  /*min-width: 15px;*/
  /*min-height: 15px;*/
  width: calc(var(--dot-size)/4);
  height: calc(var(--dot-size)/4);
  text-indent: -9999px;
  overflow: hidden;
}

.row--active {
  position: relative;
}

.row--active:before,
.row--active:after {
  position: absolute;
  top: 0;
  display: flex;
  height: var(--dot-size);
  align-items: center;
  font-size: var(--arrow-size);
  color: #999;
}

.row--active:before {
  content: '(';
  left: -18px;
}

.row--active:after {
  content: ')';
  right: -18px;
}

.cell--selected {
  position: relative;
}

.row:first-child .cell--selected:before,
.row:last-child .cell--selected:before {
  content: '(';
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--dot-size);
  color: #999;
  font-size: var(--arrow-size);
  line-height: 1;
}

.row:first-child .cell--selected:before {
  top: -35px;
  transform: rotate(90deg) translateY(-4px);
}

.row:last-child .cell--selected:before {
  bottom: -35px;
  transform: rotate(-90deg) translateY(-4px);
}

/*
.row--active .cel {
    animation: pulse 300ms infinite alternate;
}
.cell--selected {
    animation: pulse 300ms infinite alternate;
}


@keyframes pulse {
  0% {
    box-shadow: 0 0 1px 1px rgba(0,0,0,1);
  }
  100% {
    box-shadow: 0 0 3px 1px rgba(0,0,0,.3);
  }
}*/

.success {
  content: '';
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  font-family: monospace;
  background-color: rgba(0,0,0,.75);
  opacity: 0;
  font-size: 22px;
  visibility: hidden;
  transition: all 300ms ease;
}

.success__title {
  font-size: 54px;
  margin-bottom: 10px;
}

.success--on {
  opacity: 1;
  visibility: visible;
}

.success__actions {
  display: none;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.key__restart {
  position: absolute;
  z-index: 12;
  top: 20px;
  right: 20px;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  font-size: 0px;
  border-radius: 50px;
  background-color: #fff;
}

.key__restart:before,
.key__restart:after {
  content: '';
  display: inline-flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  width: 3px;
  height: 22px;
  background-color: #222;
}

.key__restart:before {
  transform: rotate(45deg) translateX(2px);
}
.key__restart:after {
  transform: rotate(-45deg) translateX(-2px);
}

.key__continue {
  position: relative;
  z-index: 12;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  min-width: 120px;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  background-color: #ccc;
}

.gamepad {
  position: absolute;
  bottom: 20px;
  /*display: grid;*/
  display: none;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1px;
}

.gamepad--select {
  left: 10px;
}

.gamepad--move {
  right: 10px;
}

.key {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--key-size);
  height: var(--key-size);
  opacity: 0.5;
  background-color: #ddd;
  box-sizing: border-box;
  text-indent: -9999px;
  overflow: hidden;
}

.key:active {
  background-color: #ccc;
}

.key--w,
.key--up {
  grid-row: 1/2;
  grid-column: 2/3;
  border-radius: 5px 5px 0 0;
}

.key--s,
.key--down {
  grid-row: 2/3;
  grid-column: 2/3;
}

.key--a,
.key--left {
  grid-row: 2/3;
  grid-column: 1/2;
  border-radius: 5px 0 0 5px;
}

.key--d,
.key--right {
  grid-row: 2/3;
  grid-column: 3/4;
  border-radius: 0 5px 5px 0;
}

@media screen and (max-width: 1280px) {
 :root {
    --dot-size: 75px;
    --gap: 2px;
  }
}

@media screen and (max-width: 1024px) {
 :root {
    --dot-size: 60px;
    --gap: 1px;
  }
  .gamepad {
    display: grid;
  }
  .success__more {
    display: none;
  }
  .success__actions {
    display: flex;
  }
}
@media screen and (max-width: 840px) {
 :root {
    --dot-size: 45px;
    --key-size: 65px;
  }
}

@media screen and (max-width: 768px) {
 :root {
    --dot-size: 45px;
    --key-size: 60px;
  }
  .gamepad {
    bottom: 50px;
  }
  .gamepad--select {
    left: 1px;
  }
  .gamepad--move {
    right: 1px;
  }
}

@media screen and (orientation: landscape) and (max-width: 568px) {
  :root {
    --dot-size: 40px;
    --key-size: 55px;
  }
  .gamepad {
    bottom: 10px;
  }
}

@media screen and (max-width: 480px) {
 :root {
    --dot-size: 40px;
    --key-size: 60px;
    --arrow-size: 30px;
  }
}

@media screen and (max-width: 375px) {
 :root {
    --dot-size: 60px;
    --arrow-size: 20px;
  }

}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #222;
  }
  .key {s
    background-color: #333;
  }
  .key:active {
    background-color: #666;
  }
}

@media (orientation: portrait) {
  html {
      background: #222;
  }
  .table,
  .gamepad {
    display: none;
  }
  .grid {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100vw;
      height: 100vh;
      position: relative;
      z-index: 11;
      font-family: Helvetica, Arial, sans-serif;
      background: none;
  }
  .grid:after {
      content: 'ROTATE YOUR DEVICE';
      color: #fff;
      font-size: 12px;
      letter-spacing: 5px;
      text-transform: uppercase;
  }
}
