:root {
  --dot-size: 100px;
  --gap: 5px;
  --rows: 6;
  --grid-size: calc( calc( var(--dot-size) * var(--rows) ) + calc( var(--gap) * calc(var(--rows)-1) ) );
}

html,
body,
.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.table {
  display: grid;
  grid-gap: var(--gap);
  width: var(--grid-size);
  margin: 0 auto;
}

.row {
  display: grid;
  grid-template-columns: repeat(var(--rows), 1fr);
  grid-gap: var(--gap);
}

.cel {
  display: flex;
  width: var(--dot-size);
  height: var(--dot-size);
  border-radius: var(--dot-size);
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-family: monospace;
  background-color: #eee;
  transition: all 100ms ease;
}

.tableSolution {
  position: absolute;
  top: 30px;
  left: 30px;
  width: calc(var(--grid-size)/4);
  grid-gap: calc(var(--gap)/4);
}

.tableSolution .row {
  grid-gap: calc(var(--gap)/4);
}

.tableSolution .cel {
  width: 25px;
  height: 25px;
  text-indent: -9999px;
  overflow: hidden;
}

.row--active {
  position: relative;
}

.row--active:before,
.row--active:after {
  position: absolute;
  top: 0;
  display: flex;
  height: var(--dot-size);
  align-items: center;
  font-size: 50px;
  color: #999;
}

.row--active:before {
  content: '(';
  left: -18px;
}

.row--active:after {
  content: ')';
  right: -18px;
}

.cell--selected {
  position: relative;
}

.row:first-child .cell--selected:before,
.row:last-child .cell--selected:before {
  content: '(';
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--dot-size);
  color: #999;
  font-size: 50px;
  line-height: 1;
}

.row:first-child .cell--selected:before {
  top: -35px;
  transform: rotate(90deg) translateY(-4px);
}

.row:last-child .cell--selected:before {
  bottom: -35px;
  transform: rotate(-90deg) translateY(-4px);
}

.success {
  content: '';
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  font-family: monospace;
  background-color: rgba(0,0,0,.9);
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease;
}

.success__title {
  font-size: 40px;
}

.success--on {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 1024px) {
  .table {
    width: 370px;
    grid-gap: 2px;
  }

  .cel {
    width: 60px;
    height: 60px;
  }

  .tableSolution {
    left: 50%;
    transform: translateX(-50%);
    grid-gap: 1px;
    width: 65px;
  }

  .tableSolution .cel {
      width: 10px;
      height: 10px;
  }
}
